/**
 * @Author: Miroslav Karpíšek <miro>
 * @Date:   23-11-2017
 * @Email:  karpisek.m@email.cz
 * @Project: IFJ
 * @Last modified by:   miro
 * @Last modified time: 27-11-2017
 */

body {
    margin-top: 100px;
}

table {
    min-width: 800px;
}

tbody {
    display:block;
    height:610px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

td {
    padding: 0px; !importatnt
    text-align: center;
}

thead {
    width: calc( 100% - 1em );
}

#tableBox {
    overflow-y: scroll;
    height: 500px;
}

.paddingOff {
    padding: 0px; !importatnt
}

.mt10{
    margin-top:10px;
}

.mt20{
    margin-top:20px;
}

.mt15{
    margin-top:15px;
}


.mt5{
    margin-top:5px;
}

.mr10{
    margin-right:10px;
}

.mr5{
    margin-right:5px;
}

.h20 {
    height: 20px
}

.w50 {
    position: fixed;
    top: 50px;
    right: 0px;
    width: 60px;
    text-align: center;
}

.infoBox {
    display: inline-block;
    position: fixed;
    top: 60px;
    height: 70px;
    /*text-align: center;*/
}



.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: /*whatever width you want*/;
}

.panel {
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.05);
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.padding {
    padding: 10px;
}
