/**
 * @Author: Miroslav Karpíšek <miro>
 * @Date:   23-11-2017
 * @Email:  karpisek.m@email.cz
 * @Project: IFJ
 * @Last modified by:   miro
 * @Last modified time: 02-12-2017
 */

body {
    margin-top: 180px;
}

table {
    min-width: 800px;
}

.todoBox {
    padding: 10px;
}

#infoMessage {
    z-index: 10;
}

.todoExpodone, .todoExpotodo, .todoExpotoday, .todoAnimaltodo, .todoAnimaltoday, .todoAnimaldone {
    cursor: pointer;
}

#tableBox {
    height: 500px;
}

.view {
    cursor: pointer;
}

.bigger {
    height: 700px;
}

.green {
    color:green;
    cursor: pointer;
}

.blue {
    color:rgb(52, 172, 190);
    cursor: pointer;
}

.red_color{
    color:red;
    cursor: pointer;
}

.paddingOff {
    padding: 0px; !importatnt
}

.mt10{
    margin-top:10px;
}

.mt20{
    margin-top:20px;
}

.mt15{
    margin-top:15px;
}


.mt5{
    margin-top:5px;
}

.mr10{
    margin-right:10px;
}

.mr5{
    margin-right:5px;
}

.h20 {
    height: 20px
}

.w50 {
    position: fixed;
    top: 50px;
    right: 0px;
    width: 60px;
    text-align: center;
}

.infoBox {
    display: inline-block;
    position: fixed;
    top: 60px;
    height: 70px;
    /*text-align: center;*/
}



.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: /*whatever width you want*/;
}

.panel {
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.05);
    box-shadow: 0 3px 3px rgba(0,0,0,.05);
}

.red {
    background-color: red;
}

.padding {
    padding: 10px;
}
